
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<body>

    @*<a href="@Url.Action("Index", "Bid", new { AuctionId = item.ID })">
    </a>

        <a href="<% =Url.Content(" ~/Documents/TCS.pdf") %>">*@

    <a href="@Url.Content("~/Documents/TCS.pdf")" target="_blank">Display Terms and Conditions</a>

</body>

