<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>NWWT Silent Auction</title>
    <style type="text/css">
        body {
            background-color: #000000;
            background-image: url(images/Sable-2017_100px.png);
            background-repeat: repeat;
        }

        body, td, th {
            color: #FFFFFF;
            font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-align: center;
            font-size: 12pt;
        }
    </style>
</head>

<body>
    <table width="1000" align="center" cellpadding="6" cellspacing="3">
        <tbody>
            <tr>
                <td bgcolor="#0A374C"><img src="~/Images/UNYATI_-intro.jpg" width="613" height="528" alt="" /></td>
            </tr>
            <tr>
                <td bgcolor="#999595" style="color: #0A374C; text-align: center;">LOGIN / REGISTER – UNYATI</td>
            </tr>
            <tr style="text-align: left">
                <td bgcolor="#FFFFFF"><img src="~/Images/DisselB.jpg" width="631" height="605" alt="" /></td>
            </tr>
            <tr bgcolor="#999595" style="text-align: left">
                <td style="font-weight: normal">LOGIN / REGISTER – DISSELBOOM</td>
            </tr>
            <tr bgcolor="#3C3C3C" style="text-align: left">
                <td bgcolor="#FFFFFF" style="font-weight: normal"><img src="~/Images/Ytdiebos.jpg" width="631" height="545" alt="" /></td>
            </tr>
            <tr style="text-align: left">
                <td bgcolor="#999595" style="font-weight: normal">LOGIN / REGISTER – YTDIEBOS</td>
            </tr>
            <tr style="text-align: left">
                <td bgcolor="#FFFFFF" style="font-weight: normal"><img src="~/Images/Highvalue.jpg" width="631" height="470" alt="" /></td>
            </tr>
            <tr style="text-align: left">
                <td bgcolor="#999595" style="font-weight: normal">LOGIN / REGISTER – HOË-WAARDE</td>
            </tr>
            <tr style="text-align: left">
                <td height="100" bgcolor="#190D01" style="font-weight: normal"><img src="~/Images/banner_bottom.jpg" width="1000" height="110" alt="" /></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
